<!DOCTYPE html>
<html>
  <head>
<style>
body {
    background-color: rgba(270, 200, 60, 0.3);
}

h1 {
    color: black;
    text-align: center;
     font-size: 50px;
     font-weight: bold;
}

p {
    font-family: verdana;
    font-size: 20px;
     
}
h2{
    font-size: 15px;
}
</style>
</head>
<body>

<p>
    <strong>일정</strong>
    <%=@article.title %>
    
</p>
<p>
     <strong>제출기한</strong>
    <%=@article.content %>
   
    
</p>

<%= link_to "삭제", article_path(@article), method: :delete %>
<%= link_to "전체목록", articles_path %>
<%= link_to "수정", edit_article_path(@article) %>



<p>
    <h3>comments</h3>
    <ul id = "comments">
        <% @article.comments.each do |comment| %>
        <li><%= comment.content %>
            <%= link_to '삭제', comment_path(comment), :method => :delete,
               data: {confirm: "정말로 삭제하시겠습니까?"} %>
        </li>
        
        <%end%>
        </ul>
</p>
<p>
    
    <%= form_for :comment, url: article_comments_path(@article.id) do |f| %>
        <%= f.text_area :content %>
        <%= f.submit %>
    <%end%>
</p>
</body>
</html>
